node_modules
**/node_modules
dist
**/dist
.cache
**/.cache
coverage
**/coverage
.git
.gitignore
.idea
.vscode
*.log
README.md
DEPLOY.md
docker-compose.yml
**/*.sqlite
**/*.sqlite-journal
**/.env
**/.env.local
**/.env.*.local
